<%- include ../head%>
<form action="/event/<%=event.id%>/promotion" method="post">
    <input name="code" placeholder="Code">
    <input name="isPercentage" type="checkbox">
    <input name="amount" type="number">
    <button type="submit">Confirm</button>
</form>
<%-include ../foot%>
