<nav>
    <a href="/">Home</a>
    <%if(!user){%>
    <a href="/login" >login</a>
    <a href="/signup">signup</a>
    <%} else{%>
    Welcome <%= user.name %> ( <a href="logout">logout</a> )
    <a href="/event/new">New event</a>
    <a href="/booking">My booking</a>
    <%}%>
</nav>
