<nav>
    <a href="/">Home</a>
    <%if(!user){%>
    <a href="/login" >Login</a>
    <a href="/signup">Signup</a>
    <%} else{%>
    Welcome <%= user.name %> ( <a href="logout">logout</a> )
    <a href="/event/new">New event</a>
    <a href="/booking">My bookings</a>
    <a href="/event">My events</a>
    <%}%>
</nav>
