<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1>
        <%= title %>
    </h1>
    <p>Welcome
        <%if(user){%>
            <%= user.email %>
        <%}else{ %>
            <%= "test"%>
        <% } %>
    </p>
</body>

</html>