<ul class="nav nav-tabs">
    <li class="nav-item"><a href="/" class="nav-link" id="home">Home</a></li>
    <%if(!user){%>
        <li class="nav-item"><a href="/login" class="nav-link" id="login">Login</a></li>
        <li class="nav-item"><a href="/signup" class="nav-link" id="signup">Signup</a></li>
    <%} else{%>
        <li class="nav-item">Welcome <%= user.name %> ( <a href="logout">logout</a> )</li>
        <li class="nav-item"><a href="/event/new" class="nav-link" id="new-event">New Event</a></li>
        <li class="nav-item"><a href="/booking" class="nav-link" id="booking">My Bookings</a></li>
        <li class="nav-item"><a href="/event" class="nav-link" id="event">My Events</a></li>
    <%}%>
</ul>

<script defer>
    <%if(locals.currentPage){%>
        $("#<%=currentPage%>").addClass("active");
        console.log($("#<%=currentPage%>"))
    <%}%>

</script>