<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top justify-content-between">
    <div class="navbar-nav">
    <a href="/" class="nav-link nav-item navbar-brand" id="home">Home</a>
    <%if(!user){%>
        <a href="/login" class="nav-link nav-item" id="login">Login</a></li>
        <a href="/signup" class="nav-link nav-item" id="signup">Signup</a></li>
    <%} else{%>
        <a href="/new/event" class="nav-link nav-item" id="new-event">New Event</a>
        <a href="/booking" class="nav-link nav-item" id="booking">My Bookings</a>
        <a href="/event" class="nav-link nav-item" id="event">My Events</a>
        <a href="/user" class="nav-link nav-item" id="event">My Account</a>
        <%if(user.isAdmin){%>
        <a href="/waiting/event" class="nav-link nav-item" >Approving New Events</a>
        <%}%>
        <a href="/logout" class="nav-link nav-item" >Logout</a>
    <%}%>
    </div>
    <%- include searchbar%>
</nav>

<script defer>
    <%if(locals.currentPage){%>
        $("#<%=currentPage%>").addClass("active");
    <%}%>

</script>