<nav class="nav nav-tabs navbar-expand-lg justify-content-between">
    <%if(!user){%>
        <a href="/" class="nav-link nav-item navbar-brand" id="home">Home</a>
        <div class="navbar-nav">
            <a href="/login" class="nav-link nav-item" id="login">Login</a></li>
            <a href="/signup" class="nav-link nav-item" id="signup">Signup</a></li>
        </div>
    <%} else{%>
        <div class="navbar-nav">
            <a href="/" class="nav-link nav-item navbar-brand" id="home">Home</a>
            <a href="/event/new" class="nav-link nav-item" id="new-event">New Event</a>
            <a href="/booking" class="nav-link nav-item" id="booking">My Bookings</a>
            <a href="/event" class="nav-link nav-item" id="event">My Events</a>
        </div>
        <div>
            Welcome <%= user.name %> ( <a href="logout">logout</a> )
        </div>
    <%}%>
</nav>

<script defer>
    <%if(locals.currentPage){%>
        $("#<%=currentPage%>").addClass("active");
        console.log($("#<%=currentPage%>"))
    <%}%>

</script>