<form class="form-inline" action="/search" >
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="q">
    <button class="btn" type="submit"><i class="fas fa-search"></i></button>
</form>