<%- include ../head%>
<form id="changePass" name="changePass" method="post" action="../user/changePass" class="user-form">
    <div class="form-label-group">
        <label for="password">Password</label>
        <input name="password" type="password" required class="form-control"/>
    </div>
    <div class="form-label-group">
        <label for="passwordConfirm">Password Confirmation</label>
        <input name="passwordConfirm" type="password" required class="form-control"/>
    </div>
    <br>
    <input class="btn btn-lg btn-primary btn-block" type="submit" value="Save"/>
</form>
<script>
  $('form').submit(function(e){
    e.preventDefault();
    if( $('[name="passwordConfirm"]').val() !== $('[name="password"]').val()){
      $("#error-div").attr("hidden",false);
      $("#error-div").text("Password does not match");
      $(window).scrollTop(0);
    }
    else{
      this.submit();
    }
  })
</script>
<%-include ../foot%>
