<!DOCTYPE html>
<html>

<head>
    <%- include ../head%>
</head>

<body>
<%- include ../header%>
<form id="event" name="event" method="post" action="../event" enctype="multipart/form-data" >
    <label for="name">Title</label>
    <input name="name" type="text" required/> <br/>
    <label for="location">Location</label>
    <input name="location" type="text" required/><br/>
    <label for="time">Time</label>
    <input name="time" type="datetime-local" required/><br/>
    <label for="image">Image</label>
    <input name="image" type="file" accept="image/*" required/><br/>
    <label for="description">Description</label>
    <textarea name="description" required></textarea><br/>
    <label for="price">Price</label>
    <input name="price" type="number" value="0.00" step="0.01" min="0" required><br/>
    <label for="capacity">Capacity</label>
    <input name="capacity" type="number" step="1" min="1" value="1" required><br/>
    <label for="max">Maximum number of ticket per transaction</label>
    <input name="max" type="number" min="1" value="1" max="5" step="1"><br/>
    <input class="btn" type="submit" value="Create" />
</form>

</body>

</html>